<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  

<div class="todos" >
    
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="simple-form" name="myForm" (submit)="addTodo()" ng-controller="ExampleController">
        <input
            type="text"
            name="inputTodo"
            placeholder="...&#9997;"
            class="todo-input"
            [(ngModel)]="inputTodo"
            ng-model="user.text"
            ng-pattern="example.inputTodo"
            required
        >
        <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required
          field</small>
        <input  [disabled]="taskForm.invalid" class="todo-submit" type="submit" id="submit" value="ADD"  required>
    </form>  
  
    <div *ngFor="let todo of todos1; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}" (click)="toggleDone(i)">
        <div class="id">{{ i }}</div>
        <div class="content" >{{ todo.content }}</div>
        <button class="delete" (click)="deleteTodo(i)"><p>&#9940;</p></button>
    </div> 
   
</div>

<script>
    angular.module('formExample', [])
      .controller('ExampleController', ['$scope', function($scope) {
        $scope.master = {};
  
        $scope.update = function(user) {
          $scope.master = angular.copy(user);
        };
  
        $scope.reset = function() {
          $scope.user = angular.copy($scope.master);
        };
  
        $scope.reset();
      }]);
  </script>