.app header{
    background-color: #a648fe;
    text-shadow: 2px 2px #48a6fe;

}

.app h1 {
    display: block;
	text-align: center;
	
	appearance: none;
	border: none;
	outline: none;
	background: none;

    padding: 15px 15px;
	color: #FFF;
	margin: auto;
}